{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
 Shopapp
{% endblock %}

{% block body %}

<div>
    {% now 'H:i'%}
</div>
<div>
    {% now 'l' as current_weekday %}
    Today is {{ current_weekday }}
</div>
<div>
    {% cache 100 lorem %}
    <ul>
        {% for film, year in film_list %}
        <li>{{ film|upper }} - {{ year|default:"Unknown" }}</li>
        {% if year >= 1999 %}
        New film!
        {% endif %}
        {% endfor %}
    </ul>
    {% endcache %}
</div>
<div>
    Number of movies on the site: {{film_list|length}}
</div>



{% endblock %}