{% extends 'shopapp/base.html' %}

{% block title %}
 Products List
{% endblock %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
        <div>
         {% for product in products %}
            <div>
                <p><a href="{% url 'shopapp:products_details' pk=product.pk %}">Name: {{ product.name }}</a></p>

                <p>Prise: {{ product.prise }}</p>
             <p>Discount: {% firstof product.discount 'no discount' %}</p>
                {% if product.preview %}
                <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
                {% endif %}
            </div>
         {% endfor %}

        </div>

    {% else %}
        <h3>No products yet</h3>
    {% endif %}
{% if perms.shopapp.add_product %}
<div>
    <a href="{% url 'shopapp:create_product' %}">
        <h2>Create a new product</h2>
    </a>
</div>


{% endif %}

{% if request.user.is_authenticated %}
<div>
<a href="{% url 'shopapp:create_order' %}">
        <h2>Create order</h2>
    </a>
</div>
{% endif %}
{% endblock %}