{% extends 'blogapp/base.html' %}

{% block title %}
 Blog List
{% endblock %}

{% block body %}

    <h1>Blogs:</h1>
    {% if blogs %}
        <div>
         {% for blog in blogs %}
            <div>
                <h1><a href="{% url 'blogapp:article' pk=blog.pk %}">{{ blog.title }}</a></h1>
                <p>Category: {{ blog.category.name }}</p>
                <p>Created at: {{ blog.pub_date|date:'d F Y' }}</p>
                <p>Author: {{ blog.author.name }}</p>
                <p>Tags:
                    {% for tag in blog.tags.all %}
                    {{ tag.name }}
                    {% endfor %}
                </p>
         {% endfor %}
    {% else %}
        <h3>No blog yet</h3>
    {% endif %}


{% endblock %}