{% extends 'blogapp/base.html' %}

{% block title %}
 Article #{{article.pk}}
{% endblock %}

{% block body %}

    <div>
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <p>Category: {{ article.category.name }}</p>
        <p>Created at: {{ article.pub_date|date:'d F Y' }}</p>
        <p>Author: {{ article.author.name }}</p>
        <p>Tags:
            {% for tag in article.tags.all %}
            {{ tag.name }}
            {% endfor %}
        </p>
    </div>
<h1><a href="{% url 'blogapp:article-list' %}">back</a></h1>

{% endblock %}